{{define "footer"}}
<p> this is the footer </p>
{{/* bootstrap */}}
<link rel="stylesheet" href="./public/vendor/bootstrap/css/bootstrap.css">
<script src="./public/vendor/bootstrap/js/bootstrap.js"></script>
{{/* font-awesome */}}
<link rel="stylesheet" href="./public/vendor/fontawesome/css/all.css">
<script src="./public/vendor/fontawesome/js/all.js"></script>
{{/* materialcss */}}
<link rel="stylesheet" href="./public/vendor/materialize/css/materialize.css">
<script src="./public/vendor/materialize/js/materialize.js"></script>

{{end}}